
<!-- cart section start -->
<div class="fashion_section">
    <div class="carousel slide main_slider" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active activated-item">
                <div class="container">
                    <h1 class="fashion_taital">Login</h1>
                    <div class="fashion_section_2">                        
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <form [(ngModel)]="user">
                                    <div class="form-group">
                                      <label for="username">User Name</label>
                                      <input type="text" class="form-control" id="username" name="username" [(ngModel)]="user.username" placeholder="Enter User Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" placeholder="Enter Password">
                                    </div>
                                    <div class="btn_main">
                                        <div class="buynow_bt"><a (click)="submitLogin()">Login</a></div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>                     
                </div>
            </div>
        </div>
    </div>
</div>
<!-- cart section end -->