<!-- dashboard section start -->
<div class="fashion_section" style="padding-bottom: 0px!important;">
    <div class="carousel slide main_slider" data-ride="carousel">
       <div class="carousel-inner">
          <div class="carousel-item active activated-item">
             <div class="container">
                <h1 class="fashion_taital">{{item.name}}</h1>
                <div class="fashion_section_2">
                   <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-4">
                         <div class="box_main">
                            <h4 class="shirt_text"></h4>
                            <p class="price_text">Start Price  <span style="color: #262626;">$ {{item.price}}</span></p>
                            <div class="electronic_img"><img src="assets/images{{item.imagePath}}"></div>
                            <div class="btn_main">
                               <!-- <div class="buy_bt"><a href="#">Buy Now</a></div> -->
                               <div class="buynow_bt"><a href="/cart/{{item.id}}">Buy Now</a></div>
                            </div>
                         </div>
                      </div>
                      <div class="col-lg-8 col-md-8 col-sm-8">
                        <div class="box_main">
                           <h4 class="shirt_text"> Lorem Ipsum is simply dummy text of the typesetting industry.</h4>
                           <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                           <p class="p-mgn-btm">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their original form.</p>
                           <div class="btn_main">
                              <!-- <div class="buy_bt"><a href="#">Buy Now</a></div> -->
                              <div class="buynow_bt"><a href="/cart/{{item.id}}">Buy Now</a></div>
                           </div>
                        </div>
                     </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
  </div>
  <!-- dashboard section end -->